.ml-btn {
  margin-left: 2.1rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: inherit;
  color: #282828; }

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.7; }

ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0; }

.map {
  display: grid;
  grid-template-columns: 15rem 35rem 142rem; }
  .map__nav {
    height: 100rem;
    background-color: #313541; }
    .map__nav--browse, .map__nav--attract, .map__nav--videos, .map__nav--blog, .map__nav--about {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      width: 15rem;
      height: 12.5rem; }
      .map__nav--browse-icon, .map__nav--attract-icon, .map__nav--videos-icon, .map__nav--blog-icon, .map__nav--about-icon {
        align-self: center;
        justify-self: center; }
        .map__nav--browse-icon:first-child, .map__nav--attract-icon:first-child, .map__nav--videos-icon:first-child, .map__nav--blog-icon:first-child, .map__nav--about-icon:first-child {
          padding-top: 3.5rem; }
      .map__nav--browse-title, .map__nav--attract-title, .map__nav--videos-title, .map__nav--blog-title, .map__nav--about-title {
        justify-self: center;
        font-size: 1.3rem;
        color: #fff;
        text-transform: capitalize;
        text-align: center; }
    .map__nav--browse:not(:last-child) {
      background-color: #72CDD2; }
  .map__subnav {
    display: flex;
    flex-direction: column;
    width: 35rem;
    background-color: #282C37;
    align-items: center; }
    .map__subnav--filter {
      height: 12.5rem;
      border-bottom: 1px solid #202020; }
      .map__subnav--filter-text {
        display: inline-block;
        height: 4.1rem;
        width: 30.1rem;
        border: none;
        background-color: #373c4b;
        color: #A9ABAF;
        font-size: 1.4rem;
        text-transform: capitalize;
        margin-top: 10%;
        margin-left: 2.1rem; }
      .map__subnav--filter-drop {
        display: inline-block;
        height: 3rem;
        border: none;
        background-color: #373c4b;
        fill: #A9ABAF;
        transform: translateX(-2.5rem); }
    .map__subnav--title {
      height: 6rem;
      margin-top: 2rem;
      border-bottom: 1px solid #373c4b; }
      .map__subnav--title-menuexample {
        height: 18rem;
        border-bottom: 1px solid #373c4b; }
      .map__subnav--title-heading0, .map__subnav--title-heading1, .map__subnav--title-heading2, .map__subnav--title-heading3, .map__subnav--title-heading4, .map__subnav--title-heading5, .map__subnav--title-heading6, .map__subnav--title-heading7, .map__subnav--title-heading8 {
        color: #fff;
        margin-left: 3rem;
        font-size: 1.5rem;
        text-transform: capitalize;
        text-align: left; }
      .map__subnav--title-btn0, .map__subnav--title-btn1, .map__subnav--title-btn2, .map__subnav--title-btn3, .map__subnav--title-btn4, .map__subnav--title-btn5, .map__subnav--title-btn6, .map__subnav--title-btn7, .map__subnav--title-btn8 {
        height: 4.1rem;
        width: 30.1rem;
        border: none;
        background-color: #282C37; }
      .map__subnav--title-drop {
        display: inline-block;
        height: 3rem;
        border: none;
        background-color: #282C37;
        fill: #fff;
        transform: translateX(-2.5rem); }
      .map__subnav--title-list-item {
        font-size: 1.4rem;
        color: #A9ABAF;
        padding: 1rem;
        margin-left: 7rem;
        text-transform: capitalize; }
  .map__pinpoint {
    width: 142rem;
    display: grid;
    grid-template-rows: 12.5rem 1fr; }
    .map__pinpoint--title {
      background-color: #fff;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      z-index: 3; }
      .map__pinpoint--title-heading {
        margin-left: 3rem;
        font-size: 3rem;
        text-transform: uppercase; }
      .map__pinpoint--title-iconcontainer {
        margin-right: 5rem; }
      .map__pinpoint--title-icon {
        fill: #282C37;
        padding: 1rem; }
    .map__pinpoint--map {
      position: relative;
      height: 100%;
      width: 141rem; }
  .map__desc {
    display: grid;
    grid-template-rows: 24rem 5rem 25rem 4rem 4rem;
    width: 34.9rem;
    height: 87.5rem;
    background-color: #282C37;
    position: absolute;
    top: 13.5%;
    right: 0;
    z-index: 3;
    opacity: 0; }
    .map__desc--title {
      background-color: #72CDD2; }
      .map__desc--title-text {
        color: #fff;
        padding-left: 2.1rem;
        padding-top: .8rem;
        text-transform: capitalize; }
    .map__desc--description-text {
      max-width: 28rem;
      color: #fff;
      padding-left: 2.1rem;
      font-size: 1.3rem; }
      .map__desc--description-text:not(:last-child) {
        padding-top: 2rem; }
    .map__desc--address, .map__desc--website {
      margin-left: 2.1rem;
      margin-top: 3rem;
      display: flex;
      align-content: center; }
      .map__desc--address-icon, .map__desc--website-icon {
        display: inline;
        fill: #fff; }
      .map__desc--address-text, .map__desc--website-text {
        display: inline;
        color: #fff;
        font-size: 1.3rem;
        margin-left: 1rem; }

.home {
  width: 100vw;
  height: 144rem;
  overflow: hidden; }
